bin/Debug/netcoreapp3.1/Algorithms.deps.json
bin/Debug/netcoreapp3.1/Algorithms.dll
bin/Debug/netcoreapp3.1/Algorithms.exe
bin/Debug/netcoreapp3.1/Algorithms.pdb
bin/Debug/netcoreapp3.1/Algorithms.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/Algorithms.runtimeconfig.json
obj/Algorithms.csproj.nuget.dgspec.json
obj/Algorithms.csproj.nuget.g.props
obj/Algorithms.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/Algorithms.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/Algorithms.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/Algorithms.assets.cache
obj/Debug/netcoreapp3.1/Algorithms.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Algorithms.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Algorithms.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Algorithms.dll
obj/Debug/netcoreapp3.1/Algorithms.exe
obj/Debug/netcoreapp3.1/Algorithms.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/Algorithms.pdb
